// Variaveis

$orange: #f79d2d;
$dark-orange: #f97423;
$purple: #be49e8;
$blue: #5398e9;
$green: #2bbc5d;

body {
    font-family: "Roboto";
    color: #ababab;
}

a {
    color: $dark-orange;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: $orange;
}

// Register and log in

.header {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    align-items: center;
    text-align: center;
}

.background {
    &-image {
        background-image: url("../img/BG-1.png");
    }
    &-dots {
        background-image: url("../img/Dots\ 8px-1.png");
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.logo {
    margin: 10vh 0 5vh;
    width: 128px;
    height: 128px;
}

.btn-orange {
    background-color: $orange !important;
    transition: 0.3s;
}

.btn-orange:hover {
    background-color: $dark-orange !important;
}

.copyright {
    font-family: Nunito;
    font-size: 15px;
    line-height: 20px;
}

// Home

.logo {
    &-nav {
        width: 43px;
        height: 43px;
        border-radius: 18px;
        margin: 0 28px 0 90px;
    }

    &-extended {
        font-weight: 500;
        font-size: 35px;
        display: flex;
        align-items: center;
        margin: 5px 0;
        color: $dark-orange;
    }
}

.navbar-light {
    background-color: white;
    // width: 100vw
}

.nav-item {
    width: 165px;
    height: 36px;
    border-radius: 5px;
}

#login {
    font-size: 18px;
}

.margin-90 {
    margin-left: 90px;
}

.title {
    font-weight: 500;
    font-size: 100px;
    color: $orange;
}

.subtitle {
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
}

.hire-us {
    background: #fde5ca;
    border-radius: 10px;
    color: $dark-orange;
    font-weight: 500;
}

.companies-title {
    color: #515151;
    font-size: 60px;
    font-weight: 500;
}

.companies-subtitle {
    color: #515151;
    font-size: 20px;
    font-weight: 300;
}

.cards-div-title {
    color: $dark-orange;
    font-weight: 500;
    font-size: 80px;
}

.inner-card-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;

    margin: 0;
}

.purple {
    color: $purple;
}

.border-purple {
    border-color: $purple;
}

.blue {
    color: $blue;
}

.border-blue {
    border-color: $blue;
}

.green {
    color: $green;
}

.border-green {
    border-color: $green;
}

.orange {
    color: $orange;
}

.border-orange {
    border-color: $orange;
}

.customers-section {
    &-title {
        margin: 8rem 0 4rem 0;
        font-weight: 500;
        font-size: 60px;
        line-height: 70px;
        display: flex;
        align-items: center;

        color: $dark-orange;
    }

.autor {
    font-size: 25px;
    color: #3B3B3B
}   
}

    